<pre>  <font color="#5E5C64">  1</font>  fn main() {              
  <font color="#5E5C64">  2</font>    let numbers =          
  <span style="background-color:#5E5C64"><font color="#FFFFFF">  3</font></span>  <span style="background-color:#D0CFCC"><font color="#171421"> </font></span>   vec![<span style="background-color:#33C7DE"><font color="#171421">1</font></span>, <span style="background-color:#33C7DE"><font color="#171421">2</font></span>, <span style="background-color:#33C7DE"><font color="#171421">3</font></span>, <span style="background-color:#33C7DE"><font color="#171421">4</font></span>];    
  <font color="#5E5C64">  4</font>    let doubled: Vec&lt;i32&gt;  
  <font color="#5E5C64">  5</font>      = numbers            
  <font color="#5E5C64">  6</font>          .iter()          
  <font color="#5E5C64">  7</font>          .map(|n| n * <span style="background-color:#33C7DE"><font color="#171421">2</font></span>)  
  <font color="#5E5C64">  8</font>          .collect();      
  <font color="#5E5C64">  9</font>    <span style="background-color:#C061CB"><font color="#171421">// [2, 4, 6, 8]</font></span>        
  <font color="#5E5C64"> 10</font>    dbg!(doubled);         
  <font color="#5E5C64"> 11</font>  }                        
<span style="background-color:#171421"><font color="#FFFFFF"> NOR   main.rs [+]   1 sel  3:1 </font></span>
                                
</pre>
