[submodule "helix-syntax/languages/tree-sitter-cpp"]
	path = helix-syntax/languages/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-javascript"]
	path = helix-syntax/languages/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-julia"]
	path = helix-syntax/languages/tree-sitter-julia
	url = https://github.com/tree-sitter/tree-sitter-julia
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-python"]
	path = helix-syntax/languages/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-typescript"]
	path = helix-syntax/languages/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-agda"]
	path = helix-syntax/languages/tree-sitter-agda
	url = https://github.com/tree-sitter/tree-sitter-agda
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-go"]
	path = helix-syntax/languages/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-ruby"]
	path = helix-syntax/languages/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-java"]
	path = helix-syntax/languages/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-php"]
	path = helix-syntax/languages/tree-sitter-php
	url = https://github.com/tree-sitter/tree-sitter-php
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-html"]
	path = helix-syntax/languages/tree-sitter-html
	url = https://github.com/tree-sitter/tree-sitter-html
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-scala"]
	path = helix-syntax/languages/tree-sitter-scala
	url = https://github.com/tree-sitter/tree-sitter-scala
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-bash"]
	path = helix-syntax/languages/tree-sitter-bash
	url = https://github.com/tree-sitter/tree-sitter-bash
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-rust"]
	path = helix-syntax/languages/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-json"]
	path = helix-syntax/languages/tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-css"]
	path = helix-syntax/languages/tree-sitter-css
	url = https://github.com/tree-sitter/tree-sitter-css
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-c-sharp"]
	path = helix-syntax/languages/tree-sitter-c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-c"]
	path = helix-syntax/languages/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-haskell"]
	path = helix-syntax/languages/tree-sitter-haskell
	url = https://github.com/tree-sitter/tree-sitter-haskell
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-swift"]
	path = helix-syntax/languages/tree-sitter-swift
	url = https://github.com/tree-sitter/tree-sitter-swift
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-toml"]
	path = helix-syntax/languages/tree-sitter-toml
	url = https://github.com/ikatyang/tree-sitter-toml
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-elixir"]
	path = helix-syntax/languages/tree-sitter-elixir
	url = https://github.com/elixir-lang/tree-sitter-elixir
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-nix"]
	path = helix-syntax/languages/tree-sitter-nix
	url = https://github.com/cstrahan/tree-sitter-nix
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-latex"]
	path = helix-syntax/languages/tree-sitter-latex
	url = https://github.com/latex-lsp/tree-sitter-latex
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-ledger"]
	path = helix-syntax/languages/tree-sitter-ledger
	url = https://github.com/cbarrete/tree-sitter-ledger
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-protobuf"]
	path = helix-syntax/languages/tree-sitter-protobuf
	url = https://github.com/yusdacra/tree-sitter-protobuf.git
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-ocaml"]
	path = helix-syntax/languages/tree-sitter-ocaml
	url = https://github.com/tree-sitter/tree-sitter-ocaml
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-lua"]
	path = helix-syntax/languages/tree-sitter-lua
	url = https://github.com/nvim-treesitter/tree-sitter-lua
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-yaml"]
	path = helix-syntax/languages/tree-sitter-yaml
	url = https://github.com/ikatyang/tree-sitter-yaml
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-zig"]
	path = helix-syntax/languages/tree-sitter-zig
	url = https://github.com/maxxnino/tree-sitter-zig
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-svelte"]
	path = helix-syntax/languages/tree-sitter-svelte
	url = https://github.com/Himujjal/tree-sitter-svelte
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-vue"]
	path = helix-syntax/languages/tree-sitter-vue
	url = https://github.com/ikatyang/tree-sitter-vue
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-tsq"]
	path = helix-syntax/languages/tree-sitter-tsq
	url = https://github.com/tree-sitter/tree-sitter-tsq
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-cmake"]
	path = helix-syntax/languages/tree-sitter-cmake
	url = https://github.com/uyha/tree-sitter-cmake
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-glsl"]
	path = helix-syntax/languages/tree-sitter-glsl
	url = https://github.com/theHamsta/tree-sitter-glsl.git
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-perl"]
	path = helix-syntax/languages/tree-sitter-perl
	url = https://github.com/ganezdragon/tree-sitter-perl
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-comment"]
	path = helix-syntax/languages/tree-sitter-comment
	url = https://github.com/stsewd/tree-sitter-comment
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-wgsl"]
	path = helix-syntax/languages/tree-sitter-wgsl
	url = https://github.com/szebniok/tree-sitter-wgsl
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-llvm"]
	path = helix-syntax/languages/tree-sitter-llvm
	url = https://github.com/benwilliamgraham/tree-sitter-llvm
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-markdown"]
	path = helix-syntax/languages/tree-sitter-markdown
	url = https://github.com/MDeiml/tree-sitter-markdown
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-dart"]
	path = helix-syntax/languages/tree-sitter-dart
	url = https://github.com/UserNobody14/tree-sitter-dart.git
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-dockerfile"]
	path = helix-syntax/languages/tree-sitter-dockerfile
	url = https://github.com/camdencheek/tree-sitter-dockerfile.git
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-fish"]
	path = helix-syntax/languages/tree-sitter-fish
	url = https://github.com/ram02z/tree-sitter-fish
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-git-commit"]
	path = helix-syntax/languages/tree-sitter-git-commit
	url = https://github.com/the-mikedavis/tree-sitter-git-commit.git
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-llvm-mir"]
	path = helix-syntax/languages/tree-sitter-llvm-mir
	url = https://github.com/Flakebi/tree-sitter-llvm-mir.git
    shallow = true
[submodule "helix-syntax/languages/tree-sitter-git-diff"]
	path = helix-syntax/languages/tree-sitter-git-diff
	url = https://github.com/the-mikedavis/tree-sitter-git-diff.git
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-tablegen"]
	path = helix-syntax/languages/tree-sitter-tablegen
	url = https://github.com/Flakebi/tree-sitter-tablegen
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-git-rebase"]
	path = helix-syntax/languages/tree-sitter-git-rebase
	url = https://github.com/the-mikedavis/tree-sitter-git-rebase.git
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-lean"]
	path = helix-syntax/languages/tree-sitter-lean
	url = https://github.com/Julian/tree-sitter-lean
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-regex"]
	path = helix-syntax/languages/tree-sitter-regex
	url = https://github.com/tree-sitter/tree-sitter-regex.git
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-make"]
	path = helix-syntax/languages/tree-sitter-make
	url = https://github.com/alemuller/tree-sitter-make
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-git-config"]
	path = helix-syntax/languages/tree-sitter-git-config
	url = https://github.com/the-mikedavis/tree-sitter-git-config.git
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-graphql"]
	path = helix-syntax/languages/tree-sitter-graphql
	url = https://github.com/bkegley/tree-sitter-graphql
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-elm"]
	path = helix-syntax/languages/tree-sitter-elm
	url = https://github.com/elm-tooling/tree-sitter-elm
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-iex"]
	path = helix-syntax/languages/tree-sitter-iex
	url = https://github.com/elixir-lang/tree-sitter-iex
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-twig"]
	path = helix-syntax/languages/tree-sitter-twig
	url = https://github.com/eirabben/tree-sitter-twig.git
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-rescript"]
	path = helix-syntax/languages/tree-sitter-rescript
	url = https://github.com/jaredramirez/tree-sitter-rescript
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-erlang"]
	path = helix-syntax/languages/tree-sitter-erlang
	url = https://github.com/the-mikedavis/tree-sitter-erlang
	shallow = true
[submodule "helix-syntax/languages/tree-sitter-kotlin"]
	path = helix-syntax/languages/tree-sitter-kotlin
	url = https://github.com/fwcd/tree-sitter-kotlin.git
	shallow = true
