target
.direnv
helix-term/rustfmt.toml
result
runtime/grammars
/.idea/.gitignore
/.idea/helixis.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
