[workspace]
members = [
  "helix-core",
  "helix-view",
  "helix-term",
  "helix-tui",
  "helix-graphics",
  "helix-ui",
  "helix-lsp",
  "helix-dap",
  "helix-loader",
  "xtask",
]

default-members = [
  "helix-term"
]

resolver = "2"

[profile.dev]
split-debuginfo = "unpacked"

[profile.release]
lto = "thin"
# debug = true

[profile.opt]
inherits = "release"
lto = "fat"
codegen-units = 1
# strip = "debuginfo" # TODO: or strip = true
opt-level = 3
