<pre class="termshot"><span style="background-color:#7958DC"><font color="#171452">┌──────────────────────────────┐</font></span>
<span style="background-color:#7958DC"><font color="#171452">│ Write changes to disk and    │</font></span>
<span style="background-color:#7958DC"><font color="#171452">│ close the current view.      │</font></span>
<span style="background-color:#7958DC"><font color="#171452">│ Accepts an optional path     │</font></span>
<span style="background-color:#7958DC"><font color="#171452">└──────────────────────────────┘</font></span>
<span style="background-color:#281733"><font color="#A4A0E8">write-quit-all                  </font></span>
<span style="background-color:#281733"><font color="#A4A0E8">write-quit-all!                 </font></span>
<span style="background-color:#3B224C"><font color="#A4A0E8">:wq</font></span><span style="background-color:#3B224C">                             </span>
</pre>
