pre code.hljs {
 display:block;
 overflow-x:auto;
 padding:1em
}
code.hljs {
 padding:3px 5px
}
.hljs {
 background: var(--hljs-background);
 color: var(--hljs-color);
}
.hljs-comment,
.hljs-quote {
 color: var(--hljs-quote)
}
.hljs-link,
.hljs-meta,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
 color: var(--hljs-variable)
}
.hljs-built_in,
.hljs-deletion,
.hljs-literal,
.hljs-number,
.hljs-params,
.hljs-type {
 color: var(--hljs-type)
}
.hljs-attribute,
.hljs-section,
.hljs-title {
 color: var(--hljs-title)
}
.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
 color: var(--hljs-symbol)
}
.hljs-keyword,
.hljs-selector-tag {
 color: var(--hljs-selector-tag)
}
.hljs-emphasis {
 font-style:italic
}
.hljs-strong {
 font-weight:700
}
