---
import { Badge } from "@astrojs/starlight/components";
---

<aside aria-label="Available since the latest release (24.07)" class="starlight-aside starlight-aside--latest">
<div class="space-y-1">
	<p class="starlight-aside__title" aria-hidden="true">
		Since 24.07 <Badge text="New" variant="success" /> 
	</p>
		<p class="text-sm italic text-haze/80">
    This feature is only available on the latest version.
		</p>
    </div>
	<div class="starlight-aside__content">
		<slot />
	</div>
</aside>
