---
import { Badge } from "@astrojs/starlight/components";
---

<aside aria-label="Available since the latest release (24.07)" class="starlight-aside starlight-aside--master">
  <div class="space-y-1">
		<p class="starlight-aside__title" aria-hidden="true">
			Since master <Badge text="New" variant="tip" />
		</p>
		<p class="text-sm italic text-haze/80">
			To use this feature, you need to 
			<a href="http://localhost:4321/getting-started/installation#building-from-source">
			  build from source</a>.
		</p>
	</div>
	<div class="starlight-aside__content">
		<slot />
	</div>
</aside>
