<pre class="termshot"><span style="background-color:#3B224C">  ┌──────────────────────────┐  </span>
<span style="background-color:#3B224C">  │                      </span><span style="background-color:#3B224C"><font color="#A4A0E8">4/4</font></span><span style="background-color:#3B224C"> │  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#5A5977">──────────────────────────</font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#FFFFFF"> &gt; app/globals.css        </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#A4A0E8">   app/layout.tsx         </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#A4A0E8">   app/page.tsx           </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#A4A0E8">   components/button.tsx  </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#A4A0E8">                          </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  └──────────────────────────┘  </span>
<span style="background-color:#3B224C">                                </span>
<span style="background-color:#281733"><font color="#DBBFEF"> NOR   [scratch]     1 sel  1:1 </font></span>
<span style="background-color:#3B224C">                                </span>
</pre>
