---
import { LinkButton } from '@astrojs/starlight/components';
---

<div>
  <LinkButton href="/start-here/basics" icon="right-arrow">Get Started</LinkButton>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    margin-top: 2rem !important;
    margin-bottom: 8rem;
    justify-items: center;
  }
</style>
