---
import { LinkButton } from '@astrojs/starlight/components';
---

<div>
  <LinkButton href="/getting-started/basics" icon="right-arrow">Get Started</LinkButton>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
</style>
