<pre class="termshot"><span style="background-color:#3B224C">  </span><span style="background-color:#3B224C"><font color="#DBBFEF">  1</font></span><span style="background-color:#3B224C">  </span><span style="background-color:#5A5977"><font color="#3B224C"> </font></span><span style="background-color:#3B224C">                        </span>
<span style="background-color:#3B224C">  ┌──────────────────────────┐  </span>
<span style="background-color:#3B224C">  │                      </span><span style="background-color:#3B224C"><font color="#A4A0E8">7/7</font></span><span style="background-color:#3B224C"> │  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#5A5977">──────────────────────────</font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#FFFFFF"> &gt; README.md              </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#A4A0E8">   package.json           </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#A4A0E8">   src/app/globals.css    </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#A4A0E8">   src/app/layout.tsx     </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#A4A0E8">   src/app/page.tsx       </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#A4A0E8">   …/components/button.tsx</font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  │</span><span style="background-color:#3B224C"><font color="#A4A0E8">   tsconfig.json          </font></span><span style="background-color:#3B224C">│  </span>
<span style="background-color:#3B224C">  └──────────────────────────┘  </span>
<span style="background-color:#3B224C">                                </span>
<span style="background-color:#281733"><font color="#DBBFEF"> NOR   [scratch]     1 sel  1:1 </font></span>
<span style="background-color:#3B224C">                                </span>
</pre>
