[package]
name = "helix-vcs"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
categories.workspace = true
repository.workspace = true
homepage.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
helix-core = { path = "../helix-core" }
helix-event = { path = "../helix-event" }

tokio = { version = "1", features = ["rt", "rt-multi-thread", "time", "sync", "parking_lot", "macros"] }
parking_lot = "0.12"
arc-swap = { version = "1.6.0" }

gix = { version = "0.55.0", default-features = false , optional = true }
imara-diff = "0.1.5"
anyhow = "1"

log = "0.4"

[features]
git = ["gix"]

[dev-dependencies]
tempfile = "3.8"
