@import "asciinema-player/dist/bundle/asciinema-player.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --overlay-blurple: hsla(276, 38%, 25%, 1);
}

main .sl-container {
  position: relative;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

/* hide trailing '|' */
.social-icons::after {
  display: none;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.sl-markdown-content kbd {
  margin-top: 0 !important;
  display: inline;
  border: 2px solid var(--sl-color-gray-6);
  border-radius: 0.25rem;
  background-color: var(--sl-color-gray-5);
  box-shadow:
    0 2px 1px var(--sl-color-gray-6),
    0 2px 0 0 var(--sl-color-gray-5) inset;
  font-size: var(--sl-text-xs);
  font-weight: 700;
  line-height: 1;
  padding: 2px 6px;
}

.starlight-aside--caution {
  .starlight-aside__title {
    @apply text-[#ffcd1c];
  }
  @apply bg-[#ffcd1c]/15 border-[#ffcd1c];
}

.starlight-aside--note {
  .starlight-aside__title {
    @apply text-[#cccccc];
  }
  @apply bg-[#cccccc]/15 border-[#cccccc];
}

.starlight-aside--danger {
  .starlight-aside__title {
    @apply text-[#f47868];
  }
  @apply bg-[#f47868]/15 border-[#f47868];
}

.starlight-aside--tip {
  .starlight-aside__title {
    @apply text-[#a4a0e8];
  }
  @apply bg-[#a4a0e8]/15 border-[#a4a0e8];
}

::selection {
  @apply bg-accent-200/40;
}

.starlight-aside--master {
  .starlight-aside__title {
    @apply text-honey;
  }
  @apply border-honey border-4;
}

.tip {
  @apply border-honey bg-honey/10;
}

td code {
  white-space: nowrap;
}

/* change style for the "copied" button text */
.copy .feedback {
  @apply bg-[#5a5977] !important;
}
.copy .feedback::after {
  border-inline-start-color: #5a5977 !important;
}

.termshot {
  @apply leading-4 max-[340px]:p-0 max-[340px]:border-none max-w-max overflow-x-auto !important;
}
